# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
/forge-1.10.2-12.18.2.2125-changelog.txt
/README.txt
crash-reports
logs
saves
screenshots
/usercache.json
/usernamecache.json
config/splash.properties
options.txt
